docket_parser/
.Rhistory
_scotuswatch.Rproj
.RData
old_misc/
Stat Reviews/OT24_StatReview/dockets
Stat Reviews/OT24_StatReview/dockets/
Stat Reviews/OT24_StatReview/decisions/opinions
Stat Reviews/OT24_StatReview/decisions/opinions/
data/docket_sheets/
data/docket_sheets